@using WebAppAspNetMvcPdf.Models
@using Common.Extentions;
@model Client

@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Госуслуги</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
    </style>
</head>

<body>
    <table>
        <tbody>
            <tr>
                <td rowspan="2">
                    <img src="/Clients/GetImage/@Model.Id" class="rounded" style="max-width: 300px; max-height: 600px;" />
                </td>

                <td>
                    <h1><u>@($"{Model.Name} {Model.Surname}")</u></h1>
                </td>
            </tr>
            <tr>
                <td>
                    <p>
                        <span><b>Возраст:</b></span>
                        <span>@Model.Age</span>
                    </p>
                    <p>
                        <span><b>Дата рождения:</b></span>
                        <span>@(Model.Birthday.HasValue ? Model.Birthday.Value.ToString("dd.MM.yyyy") : "-")</span>
                    </p>
                    <p>
                        <span><b>Пол:</b></span>
                        <span>@Model.Gender.GetDisplayValue()</span>
                    </p>
                    <p>
                        @{ var clienttype = string.Join(", ", Model.ClientTypes.Select(x => $"{x.Name}"));
                            if (string.IsNullOrEmpty(clienttype))
                            {
                                clienttype = "Нет информации";
                            } }
                        <span><b>Тип клиента:</b></span>
                        <span>@clienttype</span>
                    </p>
                    <p>
                        @{ var citizenships = string.Join(", ", Model.Citizenships.Select(x => $"{x.Name}"));
                            if (string.IsNullOrEmpty(citizenships))
                            {
                                citizenships = "Нет информации";
                            } }

                        <span><b>Гражданство:</b></span>
                        <span>@citizenships</span>
                    </p>
                    <p>
                        @{ var orders = string.Join(", ", Model.Orders.Select(x => $"{x.Procedure}"));
                            if (string.IsNullOrEmpty(orders))
                            {
                                orders = "Нет информации";
                            } }

                        <span><b>Услуги:</b></span>
                        <span>@orders</span>
                    </p>
                    <p>
                        @{ var availableDocuments = string.Join(",", Model.AvailableDocuments.Select(x => $"{x.Name}"));
                            if (string.IsNullOrEmpty(availableDocuments))
                            {
                                availableDocuments = "Нет информации";
                            } }
                        <span><b>Имеющиеся документы:</b></span>
                        <span>@availableDocuments</span>
                    </p>
                    <p>
                        @{ string isArchive;
                            if (Model.IsArchive == true)
                            {
                                isArchive = "Да";
                            }
                            else
                            {
                                isArchive = "Нет";
                            }
                        }
                        <span><b>Запись из архива:</b></span>
                        <span>@isArchive</span>
                    </p>


                </td>
            </tr>

            <tr>
                <td colspan="2">
                    <h2>Отзыв</h2>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <pre style="width: auto; white-space: pre-wrap;">
@Model.Reviews
</pre>
                </td>
            </tr>
        </tbody>
    </table>





    <hr />


    <sub><i>Информация из государственного реестра</i></sub>


</body>

</html>